<extend name="Base/s1"/>
<block name="body">

<div class="main"><div class="main_center"><div class="center_left">
<!-- 左侧菜单 -->
	<include file="Public/leftmenu"/>
<!-- 左侧菜单 -->
</div><!-- 个人中心 初始状态 start -->
<div class="center_right account" id="MemberCenterCtrl" style="display: block;">
<div class="account_right"  style="display: block;">
	<!-- 安全中心 初始状态 start -->
	<h4 class="">验证邮箱</h4>

	<div class="verification">
                
          <p class="verification_list verification_list02">
                    <label>我的邮箱：</label>
                   {$email}
                    <span class="ver_hint" id="change_email_err_desc"></span>
                </p> <p class="verification_list_btn verification_btn02" id="send_email"><a href="javascript:void(0)"  onclick="sendmail();"
				class="btn-check orange">发送验证邮件</a><span id="send_num" style="width:230px;"></span></p>     
	<script>

function sendmail(){ 

var yourcode="{:get_username()}";


$.ajax({
url:'{:U("account/send_email")}', //发送数据的地址

type: 'POST',

data:{code:yourcode},

dataType: 'json',

timeout: 1000,

error: function(){$("#send_num").html("发送失败,无效的邮箱地址");},

success: function(data){$("#send_num").html(data.msg);
}

});

}</script>			
				
				<div class="ver_bottom_hint">
                    <p class="title">无法收到验证邮件？</p>
                    <p>·&nbsp;验证邮件可能在垃圾邮箱或广告邮箱中，请仔细查找</p>
                    <p>·&nbsp;由于网络原因，可能会有延迟。如果您10分钟还没有收到，请再次发送验证邮件，一个账号一天最多可以发送5封验证邮件</p>
                </div>   
                </div>

				 </div>
	<!-- 安全中心结束状态 end -->

<!-- 个人中心 初始状态 end --></div></div></div>
    <script type="text/javascript">_init_area();</script>
       
   
   
</block>
