/*@import url(amui.all.css);*/

a{color:#15afef }
a:hover{color: #0c7dac}

.header {background: #15afef;color: #fff}
.header .main-nav a , .page a , .tab-nav.nav a , .btn{
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease; 
}
.header .main-nav li.current a , .header .main-nav a:hover{background: #0c7dac;color: #fff;border:none;}
.header .user-menu .manager{color: #222}

.sidebar , .main {background: #fff;}
.sidebar {width: 199px; border-right: 1px solid #bbb}
.subnav {margin-right: 1px}
.sidebar a , .sidebar h3 , .side-sub-menu > li > .item , .subnav h3 a{color: #222}
.subnav h3 .recycle {background-color: #36baf1;width:12px;margin:7px 6px 0 0 ;}
/*.side-sub-menu li {background: url(../images/subnav_current) ;}*/
.sidebar h3  {border-left: 3px solid #3bb4f2;padding-left:20px;margin-bottom:10px;height: 30px;line-height: 30px}
.subnav h3 .icon {display: none}
.side-sub-menu > li > .item:hover , .side-sub-menu > li.current > .item  {background:url(../images/subnav_current.png) 165px center no-repeat #eee;color: #222}

.btn {background: #15afef;color: #fff}
.btn:hover {background: #0c7dac}
.btn.disabled{cursor:default;}
.tab-nav.nav a:hover , .tab-nav.nav li.current a {color:#14afef;}
.tab-nav.nav a{color: #0c7dac}

/*form*/
.text, .textarea {border-color:#bbb;}
.text.focus, .textarea.focus {border-color:#15afef;}
.data-table thead th , .category .hd{background: #36baf1}

/*翻页*/
.page>div {float:left;border-left:1px solid #bbb; }
.page>div>span , .page>div>span {border-color:#bbb;}
.page .current , .page a:hover{border-color: #36baf1;background: #36baf1;color: #fff}

/*上传按钮*/
.uploadify-button {background: #36baf1}
