<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>
			配置模块
		</h2>
	</div>
	<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">模块配置文件<span class="check-tips">（任何改动将保存至文件中）</span></label>
			<div class="controls">
			    <label class="textarea input-large" style="width:1000px;">
				    <textarea name="config" style="height:400px;">{$config}</textarea>
				</label>
			</div>
		</div>
		<div class="form-item">
			<input type="hidden" name="id" value="{$id|default=0}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>
