<extend name="Base/s1"/>
<block name="body">

<div class="main"><div class="main_center"><div class="center_left">
<!-- 左侧菜单 -->
	<include file="Public/leftmenu"/>
<!-- 左侧菜单 -->
</div><!-- 个人中心 初始状态 start -->
<div class="center_right" id="MemberCenterCtrl" style="display: block;">

	<empty name='list'>
	<div class="personal_info_none_goods">
				<p>没有站内信</p>
			
		
			</div>
	<else /><form action='{:U("Shopcart/delorder")}' method="post" name="delform" >
        <div class="order_del">
			  <span>  <input class="checkbox check-all" type="checkbox"> 全选 <a   href='javascript:vod(0)' onclick="delorder()">删除选中</a> </span></div>
        <div class="good-canshu"><span class="good-name">站内信
	  </span></div>


          <volist name="list" id="vo"> 
		 
		<div ><span><input class="ids row-selected" type="checkbox" name="id[]" value="{$vo.id}"></span>&nbsp;<span><a href="{:U('UserEnvelope/detail?id='.$vo['id'])}" > {$vo.title}</a></div>
         <!-- 列表详情区域开始 -->  
		 
		<!-- 左边商品区域开始 -->  
		
		 
		
		  <p  style="text-align:right">时间：{$vo.create_time|date='Y-m-d H:i:s',###}</p>
		   
		  </volist> 
		
		  <!-- 左边商品结束 -->  
		  
		  

		 
			  
		
       <!-- 列表详情区域结束 -->
	   		
       </form>
       
	</empty>
	
 <!-- 分页 -->
        <div class="page">
{$page}
        </div>
<script type="text/javascript"> 


   function delorder(){
		document.delform.submit();
		
		 }
//全选的实现
	$(".check-all").click(function(){
		$(".ids").prop("checked", this.checked);
	});
	$(".ids").click(function(){
		var option = $(".ids");
		option.each(function(i){
			if(!this.checked){
				$(".check-all").prop("checked", false);
				return false;
			}else{
				$(".check-all").prop("checked", true);
			}
		});
	});
	require(['memberCenter'], function() {
		var el = document.getElementById('MemberCenterCtrl');
		avalon.scan(el);
		avalon.nextTick(function() {
			el.style.display = 'block';
		});
	});
</script>
<!-- 个人中心 初始状态 end --></div></div></div>
    <script type="text/javascript">_init_area();</script>
      
   
</block>
