<extend name="Base/s1"/>
<block name="body">

<div class="main"><div class="main_center"><div class="center_left">
<!-- 左侧菜单 -->
	<include file="Public/leftmenu"/>
<!-- 左侧菜单 --></div><div class="center_right" style="display: none;"><div class="center_right_loading"></div></div><div id="memberCenter" style="display: block;"><!-- 个人中心 初始状态 start -->
<div class="center_right" id="MemberCenterCtrl" style="display: block;">
<span  style="display: block;padding:15px;font-size:17px;text-align:center;color:red;margin:20px 0;">{$msg} &nbsp;&nbsp;{$id}反馈</span>
<span  style="display: block;padding:15px;font-size:17px;text-align:left;color:red;margin:5px 0;">当前状态： &nbsp;&nbsp;{$backinfo}</span>
	<form action='{:U()}' method="post" name="actform" style="float:left;;width:10%" >
	
       </form>
<div style="display: block;float:right;width:88%">     
<empty name='list'>
	<div class="personal_info_none_goods">
				<p>没有该订单，<a href='{:U("index/index")}' class="red">查询错误</a></p>
			
				<div class="cb"></div>
			</div>
	<else />
       
    
        
      
		
        <volist name="list" id="vo"> 
        
            <p style="display: block;padding:15px;margin:10px;color:white;background: #64AADB">反馈时间：{$vo.update_time|date='Y-m-d',###}</p>  
            <p>{$vo.info}</p>
        
      	<p style="display: block;padding:15px;margin:10px;color:white;background:#64AADB">申请时间：{$vo.time|date='Y-m-d',###}</p>
 <p>标题{$vo.title}</p>
        
 <p>原因：{$vo.reason}</p>
		 
		
			
         
       </volist>	
     
    
	</empty>
	
	
		


</div>

<!-- 个人中心 初始状态 end --></div><div id="memberInfo" style="display: none;"></div><div id="memberWealth" style="display: none;"></div><div id="myCollection" style="display: none;"></div><div id="myEarnings" style="display: none;"></div><div id="modifyPassword" style="display: none;"></div><div id="myCoupons" style="display: none;"></div><div class="cb"></div></div></div>
    <script type="text/javascript">_init_area();</script>
      
   
</block>
