<!DOCTYPE html>

    <meta charset="utf-8"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport" />

<title>{$meta_title}_{:C('WEB_SITE_TITLE')}</title>
<head>
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.4/css/bootstrap.css" rel="stylesheet">
<link href="__CSS__/top.css" rel="stylesheet">
<link href="__CSS__/common.css" rel="stylesheet">
<link href="__CSS__/tuan.css" rel="stylesheet">
<link href="__CSS__/footer.css" rel="stylesheet">


<script type="text/javascript" src="__JS__/public.js"></script>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.4/js/bootstrap.js"></script>
</head>
<body>

	<div class="yershop_wrapper">



	<!-- 主体 -->
	<include file="Public/s1_body"/>
	<!-- 主体 -->

  <!-- 购物车js -->
   <include file="Public/cart_js"/>
   <!-- /购物车js -->


</body>
</html>