<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>{$meta_title}_{:C('WEB_SITE_TITLE')}</title>
<link href="__CSS__/top.css" rel="stylesheet">
<link href="__CSS__/detail.css" rel="stylesheet">

<link href="__CSS__/footer.css" rel="stylesheet">
<!-- 评论统计工具 -->
<link href="__CSS__/jquery.circliful.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__/public.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<!-- 工具条 -->
	<include file="Public/toolbar"/>
	<div class="yershop_wrapper"><!-- /工具条 -->
	<!-- 头部 -->
	<include file="Public/s2_header"/>
	
	<!-- /头部 -->

	<!-- 菜单 -->
	<include file="Public/s2_menu"/>
	<!-- /菜单 -->


	<!-- 主体 -->
	<include file="Public/s2_body"/>
	<!-- /主体 -->

	<!-- 购物车js -->
   <include file="Public/cart_js"/>
   <!-- /购物车js -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 --></div>
</body>
</html>