
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<include file="Public/s3_head"/>
</head>
<body>
<!-- 工具条 -->
	<include file="Public/s3_toolbar"/>
	<!-- /工具条 -->
	<!-- 头部 -->
	<div class="wrapper-cart">
	<include file="Public/s3_logo"/>
	<!-- /头部 -->
	
	<!-- 主体 -->
	<include file="Public/s3_body"/>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/></div>
	<!-- /底部 -->
</body>
</html>
