

.footer{font-size: 12px;
color: #4b4a4a;
font-family: "宋体";
padding:10px 0;
width:100%;
border-top: 2px solid #fa5000;
margin-top: 15px;
background-color: #fff;
clear: both;
display:none
}
.footer_pic_new {
background-color: #fafafa;
border-bottom: 1px solid #ebebeb;
width: 100%;clear:both;
_width: expression(this.scrollWidth < 960 ? "960px":"auto");
min-width: 960px;
}
.footer_pic_new_inner {
width: 960px;
margin: 0 auto;
height: 68px;
padding: 5px 0;
}
.footer_pic_new_inner a {
display: block;
height: 52px;
width: 187px;
border-left: 1px solid #dedede;
float: left;
padding: 7px 0 7px 48px;
}
.footer_pic_new_inner a span {
text-indent: -9999px;
display: block;
width: 138px;
height: 52px;
background: url(http://img3.ddimg.cn/00363/doc/footer_pic_bg.png) 0 0 no-repeat;
font-size: 0;
line-height: 0;
cursor: pointer;
}
.footer_pic_new_inner a.footer_pic02 span {
background-position: 0 -51px;
}
.footer_pic_new_inner a.footer_pic03 span {
background-position: 0 -103px;
}
.footer_pic_new_inner a.footer_pic04 span {
background-position: 0 -156px;
}
.footer p{
display:block
}
img{border:0}
.foot_center {
 width: 920px;
text-indent: 40px;
height: 140px;
margin: 0 auto;
padding-top: 30px;

padding:0px 0;overflow:hidden
}
 .foot_center dl{
 text-align:center; float:left;width:130px;padding:5px;overflow:hidden}
 .foot_center .mark{padding-top:20px;}
.foot_center dl dt{display: block;

padding-left: 1px;
font-size: 16px;
font-family: "microsoft yahei";
color: #7d7d7d;
height: 36px;
line-height: 36px;}
.foot_center a{text-decoration: none;
color: #7d7d7d;
font-size: 12px;}
.footer_nav_box {
border-top: 1px solid #ebebeb;
width: 100%;
_width: expression(this.scrollWidth < 960 ? "960px":"auto");
min-width: 960px;
padding: 5px 0 2px;
}
.footer_nav {
text-align: center;
line-height: 20px;
padding-bottom: 17px;
}
.footer_nav_box a:hover {
color: #f48570;
text-decoration: underline;
}
.footer_nav_box a, .footer_nav_box {
color: #8c8c8c;
font-size: 12px;
text-decoration: none;
}
.footer_nav_box .footer_nav span.sep {
margin: 0 17px 0 19px;
}

.foot_center dl dd{height:20px;line-height:20px;padding:2px;}

.theme-footer{height:20px;text-align:center;}
