@CHARSET "UTF-8";
/*外面边框的样式*/
.selectpick_div {
	background-color: #FFFFFF;
	font-size: 13px;
	font-weight: 500;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: solid 1px #CFCFCF;
	line-height: 30px;
	position: absolute;
	padding-left: 5px;
	overflow: hidden;
	cursor: pointer;
	overflow: hidden;
	z-index: 9060;
}

.selectpick_icon {
	float: right;
	background: url(../images/canvas.png) no-repeat center;
	margin-right: 5px;
	height: 30px;
	width: 9px;
	cursor: pointer;
}

.selectpick_div:hover {
	background-color: #F5F5F5;
	border: solid 1px #ccc;
}

.selectpick_div:active {
	-moz-box-shadow: 0 0 3px #0099CC;
	-webkit-box-shadow: 0 0 3px #0099CC;
	box-shadow: 0 0 3px #0099CC;
	border: solid 1px #0099CC;
}
/*下拉框的主体*/
.selectpick_options {
	border: solid 1px #CFCFCF;
	border-bottom: none;
	position: absolute;
	z-index: 9060;
	font-size: 13.5px;
}

.selectpick_options ul {
	list-style: none;
	height: auto;
	margin: 0px;
	padding: 0px;
	z-index: 9060;
	font-size: 13.5px;
}

.selectpick_options ul li {
	border-bottom: solid 1px #CFCFCF;
	padding-left: 5px;
	display: block;
	font-size: 13.5px;
	z-index: 9060;
	background-color: #fff;
}

.selectpick_options_selected {
	font-size: 13.5px;
	z-index: 9060;
}

/*设置下拉框的不透明度*/
.select_hide {
	-moz-opacity: 0;
	opacity: 0;
	-webkit-opacity: 0;
	filter: alpha(opacity =       0);
}
/*设置为disabled的时候*/
.selectpick_no_select {
	cursor: default;
	color: #9a9898;
	background-color: #F5F5F5;
}