body , input{
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding-bottom: 5px;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
@media (min-width:768px){.container {
        width: 750px
    }
}

@media (min-width:992px){.container {
        width: 970px
    }
}

@media (min-width:1200px){.container {
        width: 1170px
    }
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.col-sm-6{
    width: 49%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.legend{
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.form-group{
    margin-bottom:15px
}
.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e
}
.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-image: none
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}
.btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
    background-image: none
}
.btn-block{
    width: 100%;
}
.login a{
    text-decoration: none;
    margin-bottom: 35px;
}